
@{
    ViewBag.Title = "Data";
}

<h2>Data資料</h2>

@if (ViewBag.DataResult != null)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>借閱日期</th>
                <th>借閱人編號</th>
                <th>英文姓名</th>
                <th>中文姓名</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Library.Models.Data>)ViewBag.DataResult)
            {
                <tr id='@item.BookUserId'>
                    <td>@item.BookLendDate</td>
                    <td>@item.BookUserId</td>
                    <td>@item.BookUserEName</td>
                    <td>@item.BookUserCName</td>
                </tr>
            }
        </tbody>
    </table>
}